* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
    font-family: monospace;
    font-size: x-large;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.grupoComandos {
  display: flex;
  flex-direction:column; 
  justify-content:space-around;
  gap: 15px;
}

.cartaoComando {
  border: 1px solid #ff0000;
  border-radius: 20px;
  padding: 10px 15px;
  transition: 150ms;
  gap: 10px;
  min-width: 85vw;
  min-height: 20vh;
}

.icone{
    height: 30px;
    width: 30px;
    fill: aliceblue;
    stroke: none;
    stroke-width: 10px;
}

.cartaoComando:hover{
        scale: 100%;
        background-color: rgb(238, 85, 85);
        transform: translateY(-5%);   
    }
  

@media screen and (min-width: 600px) {
    body {
        font-size: x-large;
    }
}

@media screen and (min-width: 768px) {
    .grupoComandos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cartaoComando {
        width: calc(50vw - 30px);
    }

    .icone {
        height: 40px;
        width: 40px;
    }

}